// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
theme "catppuccin-frappe"

keybinds {
    locked {
        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt Right" { MoveFocus "Right"; }
    }

    normal {
        unbind "Ctrl t"

        // we use arrow keys
        unbind "Alt h"
        unbind "Alt j"
        unbind "Alt k"
        unbind "Alt l"
    }

    shared {
        bind "Ctrl b" { SwitchToMode "Tab"; }
        bind "Alt m" { ToggleFloatingPanes; }
        unbind "Alt f"
    }
}
